* {
    color: white;
}

.page {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;

}

.header {
    display: flex;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 6;
}


.nav {
    display: flex;
}

.card {
    display: flex;
}
.content {
    padding-left: 10px;
    width: 70%;
}

.searchbar {
    grid-column-start: 3;
    grid-column-end: 6;
}

.popular {
    grid-column-start: 6;
    grid-column-end: 7;
    margin-top: 50px;
   
}

.card img {
    height: 80px;
    width: 80px;
}



.search {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.search-icon {
    display: flex;
    align-content: center;
}

.page {
    background-color: #5d5d70;
}

.card {
    padding: 15px;

}

.author {
    font-size: 11px;
    font-style: italic;
}

.pop-author {
    font-size: 11px;
}

.pop-title {
    margin-left: 8px;
    font-size: 15px;
}

.summary {
    font-weight: bold;
}

.content a {
    text-decoration: none;
    color: white;
}
.title:hover {
    text-decoration: underline;
}

.pop-content a {
    text-decoration: none;
    color: white;
}

.pop-title:hover {
    text-decoration: underline;
}

.main-image img {
    width: 200px;
    height: 100px;
}



@media only screen and (max-width: 915px) {
    .page {
      display: grid;
      grid-template-columns: 1fr;
    }

    .header {
        grid-column: span 2;
    }
    
    .searchbar {
        grid-column: span 2;
    }

    .popular {
        grid-column: span 2;
        text-align: center;
    }

    .main-image img {
        width: 100px;
        height: 50px;
    }

  .pop-image {
      width: 100px;
      height: 50px;
  }

  }

