* {
    color: white;
}

.page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);

}

.header {
    display: flex;
    justify-content: center;
    grid-column: span 3;

}


.nav {
    display: flex;
}

.card {
    display: flex;
}
.content {
    padding-left: 10px;
    width: 70%;
}

.searchbar {
    grid-column: span 2;
}

.popular {
    margin-top: 50px;
   
}

.card img {
    height: 80px;
    width: 80px;
}



.search {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.search-icon {
    display: flex;
    align-content: center;
}

.page {
    background-color: #1a1a1c;
}

.card {
    padding: 15px;

}

.author {
    font-size: 11px;
    font-style: italic;
}

.pop-author {
    font-size: 11px;
}

.pop-title {
    margin-left: 8px;
}

.summary {
    font-weight: bold;
}

.content a {
    text-decoration: none;
    color: white;
}
.title:hover {
    text-decoration: underline;
}

.pop-content a {
    text-decoration: none;
    color: white;
}

.pop-title:hover {
    text-decoration: underline;
}

.main-image img {
    width: 200px;
    height: 100px;
}



@media only screen and (max-width: 600px) {
    .page {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
    }
    
    .searchbar {
        grid-column: span 2;
    }

    .header {
        grid-row: span 2;
    }

    .popular {
        grid-column: span 2;
    }
  }